@charset"utf-8";
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: "microsoft yahei";
}
h3 a{color:#404040;}
h3 a:hover{color:#6fb5ee;}
.Index{height:45px;text-align:center;width:100%;bottom:25px;overflow:hidden;padding-top:25px;}
.Index ul{display:inline-block;}
.Index ul li{float:left;margin-left:10px;border-radius:3px;border:1px solid #ABADB3;}
.Index ul li a{color:#404040;display:block;padding:5px 10px;}
.Index ul li a:hover{color:#c91b46;box-shadow:0 0 15px #c91b46;}
.Index ul li a.Index_on{color:#c91b46;box-shadow:0 0 15px #c91b46;}

.dt-content img{margin: 10px auto;}
#tooltip{background-color:white;}

